@import '~@/styles/mixin.less';

.me-home-view {
  color: red;
  text-align: center;
  font-size: 20px;
  transform: translateZ(0);
  .go {
    display: block;
    font-size: 15px;
    color: blue;
    text-decoration: underline;
  }
}
